version: "3.8"
services:
  amnezia:
    # For local build, use: build: .
    # For pre-built image from GitHub Container Registry:
    image: ghcr.io/skproch/awg-client:latest
    container_name: amnezia-client
    network_mode: host
    # Grant permissions to manage the host's network stack
    privileged: true
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun:/dev/net/tun
    volumes:
      # Place your AmneziaWG configuration file in the same directory as docker-compose.yaml
      # and mount it inside the container as /config/awg0.conf
      - ./awg.conf:/config/awg0.conf:ro
    # Optional: Configure PersistentKeepalive interval (default: 25 seconds)
    environment:
      - WG_ENDPOINT_RESOLUTION_RETRIES=infinity
    #   - PERSISTENT_KEEPALIVE=25
    restart: unless-stopped

  my-app:
    image: greenstatic/echo-ip
    container_name: echo-ip
    # All traffic routes through the amnezia container's network stack
    network_mode: host
    depends_on:
      - amnezia
